# Ignore any variance_storage.txt


Project4/Source/output/variance_storage.txt

Project4/Source/output/t0/variance_storage.txt

Project4/Source/output/t1/variance_storage.txt

Project4/Source/output/t2/variance_storage.txt

PHY480tmp/sav.5/output/variance_storage.txt
PHY480tmp/sav.25/output/variance_storage.txt
PHY480tmp/sav.9/output/variance_storage.txt

PHY480tmp/a.5/output/variance_storage.txt
PHY480tmp/a1/output/variance_storage.txt
PHY480tmp/a1.5/output/variance_storage.txt
PHY480tmp/a2/output/variance_storage.txt
PHY480tmp/a10/output/variance_storage.txt
PHY480tmp/defaultlol/output/variance_storage.txt

